services:
  nextjs:
    build:
      dockerfile: ./next/Dockerfile.nextjs
    container_name: girls-side-analysis-nextjs-dev
    environment:
      TZ: 'Asia/Tokyo'
    volumes:
      - ./next:/workspace/next
      - /workspace/next/node_modules
      - ./server-ts:/workspace/server-ts
      - /workspace/server-ts/node_modules
      - /workspace/node_modules
    tmpfs:
      - /app/.next
    ports:
      - 3000:3000
    depends_on:
      database-preparation:
        condition: service_completed_successfully

  server:
    build:
      dockerfile: ./server-ts/Dockerfile.server
    container_name: girls-side-analysis-server
    env_file:
      - ./server-ts/.env.development
    environment:
      TZ: 'Asia/Tokyo'
    working_dir: /workspace/server-ts
    ports:
      - 4000:3000
    volumes:
      - ./server-ts:/workspace/server-ts
      - /workspace/server-ts/node_modules
      - /workspace/node_modules

  database:
    image: mysql:8.4
    container_name: girls-side-analysis-database
    env_file:
      - ./server-ts/.env.development
    # 注. テスト用、データは永続しない
    tmpfs:
      - /var/lib/mysql
    environment:
      TZ: 'Asia/Tokyo'
      LANG: 'ja_JP.UTF-8'
    cap_add:
      - SYS_NICE
    healthcheck:
      test: mysql -u $$MYSQL_USER -p$$MYSQL_PASSWORD $$MYSQL_DATABASE -e "select 1;"
      interval: 5s
      timeout: 30s
      retries: 4
      start_period: 5s

  database-preparation:
    build:
      dockerfile: ./Dockerfile.seed
      context: ./server-ts
    container_name: girls-side-analysis-database-seed
    env_file:
      - server-ts/.env.development
    working_dir: /app
    command: >
      bash -c '
        pnpm drizzle-kit push \
          --dialect=mysql \
          --schema=/app/src/db/schema.ts \
          --host=$$DB_HOST \
          --user=$$MYSQL_USER \
          --password=$$MYSQL_PASSWORD \
          --database=$$MYSQL_DATABASE && \
        pnpm tsx addTestData.ts
      '
    depends_on:
      database:
        condition: service_healthy
    
networks:
  default:
    name: girls-side-analysis-network

