@import 'tailwindcss';

@theme {
  --animate-vote-icon-rotation: vote-icon-keyframes    0.8s steps(1) infinite;
  --animate-logout-icon-scale:  logout-icon-keyframes  0.8s steps(2) infinite;
  --animate-swipe-1:            swipe-1-keyframes      3s infinite;
  --animate-swipe-1-hand:       swipe-1-hand-keyframes 3s infinite;
  --animate-swipe-2:            swipe-2-keyframes      3s infinite;
  --animate-bounce-once: bounce-custom 1s 3;

  @keyframes vote-icon-keyframes {
    0%  { transform: translate(-50%,-50%) rotate(-15deg) }
    50% { transform: translate(-50%,-50%) rotate(-30deg) }
  }
  @keyframes logout-icon-keyframes {
    0%  { transform: translate(-10%,10%) rotate(0deg) scale(1.0) }
    30% { transform: translate(20%,-10%) rotate(10deg) scale(80%) }
    70% { transform: translate(40%,-20%) rotate(20deg) scale(60%) }
  }
  @keyframes swipe-1-keyframes {
    0%,30%,100% { transform: translate(0%,-1rem) }
    50%,80%     { transform: translate(0%, 1rem) }
  }
  @keyframes swipe-1-hand-keyframes {
    0%,30%,100% { transform: translate(0%,-1.3rem) rotate(90deg) scaleY(-100%) }
    50%,80%     { transform: translate(0%, 0.7rem) rotate(90deg) scaleY(-100%) }
  }
  @keyframes swipe-2-keyframes {
    0%,30%,100%  { transform: translate(0%, 1rem) }
    50%,80%      { transform: translate(0%,-1rem) }
  }
  @keyframes bounce-custom {
    0%, 100% {
      transform: none;
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
    50% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
  }
}
